.product-filter {
  display: flex;
  padding: 30px 0;
  margin-bottom:auto;
  padding-left: 25%;

}

.sort {
  display: flex;
  align-self: flex-e;
  margin-bottom:auto;
  padding-right: 20px;


}

.collection-sort {
  display: flex;
  flex-direction: column;
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 2%;
  padding-bottom: 2%;

  background-color: #fff;

  
}

.collection-sort:first-child {
  padding-right: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
}

label {
  color: #666;
  font-size: 10px;
  font-weight: 500;
  line-height: 2em;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
} 
  
  label {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
  }
  
  @media (max-width: 480px) {
    h1 {
      margin-bottom: 20px;
    }
  
    .product-filter {
      flex-direction: column;
    }
  
    .sort {
      align-self: flex-start;
    }
  } 

  